spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

spring.jpa.properties.hibernate.dialect=
spring.jpa.hibernate.ddl-auto=
spring.jpa.show-sql=
spring.jpa.properties.hibernate.format_sql=
spring.jpa.properties.hibernate.jdbc.batch_size=
spring.jpa.properties.hibernate.order_inserts=
spring.jpa.properties.hibernate.order_updates=

# App Properties
novel.app.jwtSecret=
novel.app.jwtExpirationMs=

# Cloudinary Properties
cloudinary.cloud.name=
cloudinary.api.key=
cloudinary.api.secret=
storage.provider =${STORAGE_PROVIDER:s3}


# Text to Speech
texttospeech.provider=

# OpenAI Edge TTS
openai.edge.tts.api-key=
openai.edge.tts.base-url=
openai.edge.tts.response-format=
openai.edge.tts.speed=

# ElevenLabs TTS
elevenlabs.api.key=
elevenlabs.voice.id=
elevenlabs.model.id=
elevenlabs.base.url=

# Supabase Properties
supabase.url=
supabase.service.role.key=
supabase.anon.key=
supabase.webhook.secret=

management.endpoints.web.exposure.include= *

# OpenAPI config
novel.openapi.dev-url=
novel.openapi.prod-url=

# Redis Configuration
spring.data.redis.host=
spring.data.redis.port=
spring.data.redis.password=
spring.data.redis.ssl.enabled=               
spring.data.redis.timeout=

spring.cache.type=
spring.cache.redis.time-to-live=

# Search
search.provider=
search.index=
search.base-uri=
spring.elasticsearch.uris=

# File Storage Provider
storage.provider=cloudinary

# AWS S3 Properties
aws.s3.bucket=
aws.s3.region=
aws.s3.access-key=
aws.s3.secret-key=
aws.s3.endpoint=
aws.s3.path-style-access=

